.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 45px;
    background-color: black;
    width: 10%;
   height: 100vh;
}
.sidebar-link{
    background-color: rgb(19, 13, 13);
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(60, 58, 58);
}
.sidebar-link img{
    height: 54px;
    margin-bottom: 4px;
 
}
.sidebar-links div{
   font-family: Roboto, Arial;
   font-size: 10px;
}
.recomandations{
    margin-left: 45px;
    margin-top: 31px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 4, 4);
    position: fixed;
    z-index: 100;
}
.recomandation-items{
    background-color: rgb(45, 44, 44);
    margin: 10px;
    padding: 8px;
    font-family: Roboto, Arial;
    border-radius: 10px;
    white-space: no-wrap;
}
.recomandation-items:hover{
    background-color:rgb(93, 92, 92) ;
}

